<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TikTok</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
</head>
<style>
.bottom{
    width: 100%;
    height: 42px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    display: none;
}
@media(max-width:528px){
    .bottom{
        display: block;
    }
}
</style>

<body>
    <div class="app__videos">
        {% for message in get_flashed_messages() %}
        <div style="background-color: black;">
            <text style="color: white;">{{message|safe}}</text>
        </div>
        {% endfor %}
        <!-- video starts -->
        <div class="video">
            <video class="video__player" src="{{url_for('static', filename='uploads/' + fullpost.post_vid)}}"></video>
            <!-- sidebar -->
            <div class="videoSidebar">
                <div class="videoSidebar__button" style="float: right;">
                    <a href="tiktok/profile"><img src="{{url_for('static', filename='images/profile.png')}}"
                            class="rounded-circle" alt="..." style="max-width: 40px; max-height: 40px;"></a>
                </div><br>
                <div class="videoSidebar__button" style="float: right;">
                    <span class="material-icons" style="color: white;"> favorite_border </span><br>
                    <text>12</text>
                </div><br>
                <div class="videoSidebar__button" style="float: right;">
                    <a href="/tiktok/comment" style="text-decoration: none; color: white;"><span class="material-icons">
                            message </span></a><br>
                    <text>23</text>
                </div><br>
                {% if current_user.id == fullpost.poster.id%}
                <a href="/tiktokpost/delete/{{fullpost.id}}" class="videoSidebar__button" style="float: right;"><span class="material-icons" style="color: white;">delete</span></a><br>
                {% endif %}
                <a class="twitter-share-button" target="_blank" rel="noopener noreferrer" style="float: right;" data-size="large"
                    href="https://twitter.com/intent/tweet?text=Check out my post on TikTok localhost:5000/tiktok/fullpost/{{fullpost.id}}">
                </a><br>
                <div class="videoSidebar__button" style="float: right;">
                    <a href="{{url_for('static', filename='uploads/' + fullpost.post_vid)}}" style="color: white; float: right;"
                        download><img src="{{url_for('static', filename='images/tiktok_download.png')}}" style="max-width: 35px; max-height: 35px; float: right;" alt="" class="rounded-circle" /></a>
                </div><br>
                <a href="https://wa.me/?text=Check out my post on TikTok localhost:5000/tiktok/fullpost/{{fullpost.id}}"><img src="{{url_for('static', filename='images/whatsapp.png')}}" class="rounded-circle" style="max-width: 40px; max-height: 40px; float: right;"></a>
            </div>
            <!-- footer -->
            <div class="videoFooter">
                <div style="margin-left: 5px;">
                    <h6>@{{fullpost.poster.username}}</h6>
                    &nbsp;&nbsp;&nbsp;&nbsp;<text class="videoFooter__description">{{fullpost.content}}</text>
                    <br><br>
                    <div class="videoFooter__ticker">
                        <span class="material-icons videoFooter__icon"> music_note </span>
                        <marquee>Rush by Ayra Star</marquee>
                        <img src="{{url_for('static', filename='images/tiktok_music.png')}}" style="max-width: 45px; max-height: 45px; margin-right: -15px;" alt="" class="videoFooter__record rounded-circle" /><br>
                    </div>
                </div>
                <small class="bottom" style="font-weight: 10%;"><a href="/tiktok/comment" style="color: white;text-decoration: none;">Add comment...</a></small>
            </div>
        </div>
        <!-- video ends -->
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script>
            const videos = document.querySelectorAll('video');
            videos.autoplay
            for (const video of videos) {
                video.addEventListener('click', function () {
                    console.log('clicked');
                    if (video.paused) {
                        video.play();
                    } else {
                        video.pause();
                    }
                });
            }
        </script>
</body>

</html>